flows_turtle.json
[{"id":"f71eca5d.d42018","type":"tab","label":"Flow 1","disabled":true,"info":""},{"id":"c8a8d859.a8788","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"3056ef6a.b25278","type":"subflow","name":"Single Motor","info":"","category":"","in":[{"x":120,"y":320,"wires":[{"id":"842bcc94.900888"}]}],"out":[{"x":940,"y":240,"wires":[{"id":"eb4fd869.c355d8","port":0},{"id":"7600b445.bea884","port":0},{"id":"15d1a295.9b0245","port":0}]},{"x":940,"y":400,"wires":[{"id":"eb4fd869.c355d8","port":1},{"id":"7600b445.bea884","port":1},{"id":"15d1a295.9b0245","port":1}]}],"env":[],"color":"#DDAA99"},{"id":"b5d13464.2c8","type":"subflow","name":"MotorDriver","info":"","category":"","in":[{"x":80,"y":400,"wires":[{"id":"31b2d772.d5e748"},{"id":"71aae8f4.e9c518"}]}],"out":[{"x":1160,"y":320,"wires":[{"id":"5690b2f9.2c7174","port":0},{"id":"f767b83a.88bfe","port":0},{"id":"505a2810.39be6","port":0}]},{"x":1160,"y":460,"wires":[{"id":"4b253905.23888","port":0},{"id":"b0ff1329.b01138","port":0},{"id":"ec02b59e.ccdb38","port":0}]},{"x":1240,"y":40,"wires":[{"id":"185268d4.cd0f47","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e7407da.6f6ad8","type":"http response","z":"f71eca5d.d42018","name":"","statusCode":"","headers":{},"x":1330,"y":80,"wires":[]},{"id":"8f836357.974eb8","type":"http in","z":"f71eca5d.d42018","name":"","url":"/command","method":"post","upload":false,"swaggerDoc":"","x":110,"y":440,"wires":[["47a47c0c.9ec334","31631123.1997a6"]]},{"id":"47a47c0c.9ec334","type":"debug","z":"f71eca5d.d42018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":190,"y":620,"wires":[]},{"id":"b2bc3f43.00af8","type":"http in","z":"f71eca5d.d42018","name":"","url":"/log_update","method":"get","upload":false,"swaggerDoc":"","x":110,"y":880,"wires":[["89c98563.67eb8"]]},{"id":"89c98563.67eb8","type":"function","z":"f71eca5d.d42018","name":"","func":"msg.payload = [\n    {\n        \"time\": new Date().toISOString().slice(11,23),\n        \"event\": \"CMD:FWD\",\n        \"state\": flow.get(\"STATE\"),\n        \"M1\": flow.get(\"M1\"),\n        \"M2\": flow.get(\"M2\"),\n        \"S1\": flow.get(\"S1\"),\n        \"S2\": flow.get(\"S2\"),\n        \"S3\": flow.get(\"S3\"),\n    }, \n    {\n        \"time\": \"10:39:07.322\",\n        \"event\": \"CMD:BCW\",\n        \"state\": \"FWD\",\n        \"M1\": 7,\n        \"M2\": 7,\n        \"S1\": 1,\n        \"S2\": 2,\n        \"S3\": 4\n    }, \n    {\n        \"time\": \"12:09:07.322\",\n        \"event\": \"CMD:STOP\",\n        \"state\": \"BCW\",\n        \"M1\": -2,\n        \"M2\": -2,\n        \"S1\": 33,\n        \"S2\": 11,\n        \"S3\": 22\n    }, \n    {\n        \"time\": \"11:39:07.322\",\n        \"event\": \"AutoStop\",\n        \"state\": \"FWD\",\n        \"M1\": 7,\n        \"M2\": 7,\n        \"S1\": 2,\n        \"S2\": 1,\n        \"S3\": 2\n    }, \n    {\n        \"time\": \"10:39:07.322\",\n        \"event\": \"CMD:AUTO\",\n        \"state\": \"IDLE\",\n        \"M1\": 0,\n        \"M2\": 0,\n        \"S1\": 111,\n        \"S2\": 222,\n        \"S3\": 555\n    }\n];\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":330,"y":880,"wires":[["78e59799.65942"]]},{"id":"78e59799.65942","type":"http response","z":"f71eca5d.d42018","name":"","statusCode":"","headers":{},"x":520,"y":880,"wires":[]},{"id":"c4adf922.a757a8","type":"function","z":"f71eca5d.d42018","name":"Global Setup","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst parameters = [\"STATE\", \"M1\", \"M2\", \"S1\", \"S2\", \"S3\"];\n\nconst initialParameterValues = [\"IDLE\", 0, 0, 0, 0, 0];\n\nflow.set(parameters, initialParameterValues);","finalize":"","x":100,"y":100,"wires":[[]]},{"id":"31631123.1997a6","type":"switch","z":"f71eca5d.d42018","name":"Command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"auto","vt":"str"}],"checkall":"false","repair":false,"outputs":6,"x":330,"y":440,"wires":[["20bce3cc.8bb64c"],["bb60182a.59e9f"],["98e306c9.0fd248"],["e5c93222.70a55"],["9f3b41c9.105918"],[]]},{"id":"20bce3cc.8bb64c","type":"switch","z":"f71eca5d.d42018","name":"[Up] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":630,"y":180,"wires":[["3113964d.fb7542"],[],[],[],[],["9f3b41c9.105918"],["9f3b41c9.105918"],["9f3b41c9.105918"],["9f3b41c9.105918"]]},{"id":"bb60182a.59e9f","type":"switch","z":"f71eca5d.d42018","name":"[Down] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":640,"y":320,"wires":[[],[],[],[],[],["9f3b41c9.105918"],["9f3b41c9.105918"],["9f3b41c9.105918"],["9f3b41c9.105918"]]},{"id":"98e306c9.0fd248","type":"switch","z":"f71eca5d.d42018","name":"[Left] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":630,"y":540,"wires":[[],[],[],[],[],[],[],[],[]]},{"id":"e5c93222.70a55","type":"switch","z":"f71eca5d.d42018","name":"[Right] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":640,"y":680,"wires":[[],[],[],[],[],[],[],[],[]]},{"id":"9f3b41c9.105918","type":"function","z":"f71eca5d.d42018","name":"All Stop ","func":"// TODO: Send motor stop commands.\n\nflow.set(\"STATE\", \"IDLE\");\nflow.set(\"M1\", 0);\nflow.set(\"M2\", 0);\n\nreturn [msg, {payload: 0}];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":900,"y":460,"wires":[["e7407da.6f6ad8"],["86d295ee.b18808","4a02acd5.744f94","625fd8f.0f71aa8","ce1b8d8a.09c358"]]},{"id":"3113964d.fb7542","type":"function","z":"f71eca5d.d42018","name":"Up-Idle","func":"\nconst pinValues = [{payload: 20}, {payload: 0}, {payload: 20}, {payload: 0}];\n\nflow.set(\"M1\", 1);\nflow.set(\"M2\", 1);\nflow.set(\"STATE\", \"FWD\");\n\npinValues.unshift(msg);\nreturn pinValues;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":920,"y":40,"wires":[["e7407da.6f6ad8","cf6ed285.c5cc88"],["ce1b8d8a.09c358"],["625fd8f.0f71aa8"],["4a02acd5.744f94"],["86d295ee.b18808"]]},{"id":"ce1b8d8a.09c358","type":"rpi-gpio out","z":"f71eca5d.d42018","name":"Right Forward","pin":"35","set":"","level":"0","freq":"","out":"pwm","x":1360,"y":260,"wires":[]},{"id":"625fd8f.0f71aa8","type":"rpi-gpio out","z":"f71eca5d.d42018","name":"Right Reverse","pin":"33","set":"","level":"0","freq":"","out":"pwm","x":1360,"y":320,"wires":[]},{"id":"4a02acd5.744f94","type":"rpi-gpio out","z":"f71eca5d.d42018","name":"Left Forward","pin":"12","set":"","level":"0","freq":"","out":"pwm","x":1350,"y":380,"wires":[]},{"id":"86d295ee.b18808","type":"rpi-gpio out","z":"f71eca5d.d42018","name":"Left Reverse","pin":"32","set":"","level":"0","freq":"","out":"pwm","x":1350,"y":440,"wires":[]},{"id":"cf6ed285.c5cc88","type":"debug","z":"f71eca5d.d42018","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":20,"wires":[]},{"id":"842bcc94.900888","type":"switch","z":"3056ef6a.b25278","name":"Single Motor incoming command","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"stop","vt":"str"}],"checkall":"false","repair":false,"outputs":3,"x":330,"y":320,"wires":[["7600b445.bea884"],["15d1a295.9b0245"],["eb4fd869.c355d8"]]},{"id":"1cbaa40.c5beddc","type":"function","z":"3056ef6a.b25278","name":"Initial Parameters","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\n\n// State, speed steps, forward/reverse pin index:\n\nconst parameters = [\"STATE\", \"STEPS\", \"FPI\", \"RPI\"];\n\nconst initialValues = [\"STP\", [0, 20, 40, 60, 80, 100], 0, 0];\n\nflow.set(parameters, initialValues);\n\n// Setting motor number from parent scope.\nflow.set(\"PREFIX\", flow.get(\"$parent.registeredMotors\"));\nflow.set(\"$parent.registeredMotors\", flow.get(\"$parent.registeredMotors\") + 1);\n\nlet name = '';\n\nswitch (flow.get(\"PREFIX\")) {\n    case 0:\n        name = \"L\";\n        break;\n    case 1: \n        name = \"R\";\n        break;\n}\n\nflow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].name\", name);\n","finalize":"","x":250,"y":220,"wires":[[]]},{"id":"eb4fd869.c355d8","type":"function","z":"3056ef6a.b25278","name":"Stop motor","func":"\nflow.set(\"STATE\", \"STP\");\nflow.set(\"FPI\", 0);\nflow.set(\"RPI\", 0);\nflow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", 0);\n\nlet pinValues = [{payload: 0}, {payload: 0}];\n\nreturn pinValues;","outputs":2,"noerr":0,"initialize":"","finalize":"","x":630,"y":380,"wires":[[],[]]},{"id":"7600b445.bea884","type":"function","z":"3056ef6a.b25278","name":"Up","func":"switch(flow.get(\"STATE\")) {\n    case \"STP\":\n        flow.set(\"STATE\", \"FWD\");\n        flow.set(\"FPI\", flow.get(\"FPI\") + 1);\n        flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"FPI\"));\n        break;\n    case \"FWD\":\n        if (flow.get(\"FPI\") === flow.get(\"STEPS\").length - 1) {\n            break;\n        }\n        else {\n            flow.set(\"FPI\", flow.get(\"FPI\") + 1);\n            flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"FPI\"));\n        }\n        break;\n    case \"REV\":\n        flow.set(\"RPI\", flow.get(\"RPI\") - 1);\n        flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"RPI\"));\n        if (flow.get(\"RPI\") === 0) {\n            flow.set(\"STATE\", \"STP\");   \n        }\n        break;\n}\n\nnode.log(flow.get(\"PREFIX\"))\n\nreturn [\n    {payload: flow.get(\"STEPS\")[flow.get(\"FPI\")]}, \n    {payload: flow.get(\"STEPS\")[flow.get(\"RPI\")]}\n];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":260,"wires":[["7332dcdf.572d0c"],[]]},{"id":"15d1a295.9b0245","type":"function","z":"3056ef6a.b25278","name":"Down","func":"switch(flow.get(\"STATE\")) {\n    case \"STP\":\n        flow.set(\"STATE\", \"REV\");\n        flow.set(\"RPI\", 1);\n        flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"RPI\"));\n        break;\n    case \"FWD\":\n        flow.set(\"FPI\", flow.get(\"FPI\") - 1);\n        flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"FPI\"));\n        if (flow.get(\"FPI\") === 0) {\n            flow.set(\"STATE\", \"STP\");   \n        }\n        break;\n    case \"REV\":\n        if (flow.get(\"RPI\") === flow.get(\"STEPS\").length - 1) {\n            break;\n        }\n        else {\n            flow.set(\"RPI\", flow.get(\"RPI\") + 1);\n            flow.set(\"$parent.motors[\"+flow.get(\"PREFIX\")+\"].speed\", flow.get(\"RPI\"));\n        }\n        break;\n}\n\nreturn [\n    {payload: flow.get(\"STEPS\")[flow.get(\"FPI\")]}, \n    {payload: flow.get(\"STEPS\")[flow.get(\"RPI\")]}\n];\n\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":610,"y":320,"wires":[[],[]]},{"id":"34f9e16c.2772de","type":"function","z":"c8a8d859.a8788","name":"Global parameters","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\n\nflow\n.set(\"registeredMotors\", 0);\n\nflow\n.set(\"motors\", \n    [\n        {\n            speed: 0,\n            name: ''\n        }, \n        {\n            speed: 0,\n            name: ''\n        }\n    ]\n);","finalize":"","x":150,"y":180,"wires":[[]]},{"id":"1240d76.b4c6329","type":"subflow:3056ef6a.b25278","z":"c8a8d859.a8788","name":"Motor R","env":[],"x":760,"y":360,"wires":[["49c6385b.43da8"],["c4f5681.d516798"]]},{"id":"bfd08d0.5ec627","type":"subflow:3056ef6a.b25278","z":"c8a8d859.a8788","name":"Motor L","env":[],"x":760,"y":260,"wires":[["ada3e775.fe2ef8"],["e024934b.c89798"]]},{"id":"618ae685.00478","type":"http in","z":"c8a8d859.a8788","name":"","url":"/command","method":"post","upload":false,"swaggerDoc":"","x":150,"y":280,"wires":[["e612b8a7.95f8c"]]},{"id":"49c6385b.43da8","type":"rpi-gpio out","z":"c8a8d859.a8788","name":"Right Forward","pin":"35","set":"","level":"0","freq":"","out":"pwm","x":1000,"y":360,"wires":[]},{"id":"c4f5681.d516798","type":"rpi-gpio out","z":"c8a8d859.a8788","name":"Right Reverse","pin":"33","set":"","level":"0","freq":"","out":"pwm","x":1000,"y":420,"wires":[]},{"id":"ada3e775.fe2ef8","type":"rpi-gpio out","z":"c8a8d859.a8788","name":"Left Forward","pin":"12","set":"","level":"0","freq":"","out":"pwm","x":1010,"y":240,"wires":[]},{"id":"e024934b.c89798","type":"rpi-gpio out","z":"c8a8d859.a8788","name":"Left Reverse","pin":"32","set":"","level":"0","freq":"","out":"pwm","x":1010,"y":300,"wires":[]},{"id":"e54b4009.c20ce8","type":"http in","z":"c8a8d859.a8788","name":"","url":"/log_update","method":"get","upload":false,"swaggerDoc":"","x":150,"y":520,"wires":[["2cc1280d.436c48"]]},{"id":"2cc1280d.436c48","type":"function","z":"c8a8d859.a8788","name":"","func":"msg.payload = [\n    {\n        \"time\": new Date().toISOString().slice(11,23),\n        \"event\": \"CMD:FWD\",\n        \"state\": flow.get(\"STATE\"),\n        \"M1\": flow.get(\"M1\"),\n        \"M2\": flow.get(\"M2\"),\n        \"S1\": flow.get(\"S1\"),\n        \"S2\": flow.get(\"S2\"),\n        \"S3\": flow.get(\"S3\"),\n    }, \n    {\n        \"time\": \"10:39:07.322\",\n        \"event\": \"CMD:BCW\",\n        \"state\": \"FWD\",\n        \"M1\": 7,\n        \"M2\": 7,\n        \"S1\": 1,\n        \"S2\": 2,\n        \"S3\": 4\n    }, \n    {\n        \"time\": \"12:09:07.322\",\n        \"event\": \"CMD:STOP\",\n        \"state\": \"BCW\",\n        \"M1\": -2,\n        \"M2\": -2,\n        \"S1\": 33,\n        \"S2\": 11,\n        \"S3\": 22\n    }, \n    {\n        \"time\": \"11:39:07.322\",\n        \"event\": \"AutoStop\",\n        \"state\": \"FWD\",\n        \"M1\": 7,\n        \"M2\": 7,\n        \"S1\": 2,\n        \"S2\": 1,\n        \"S3\": 2\n    }, \n    {\n        \"time\": \"10:39:07.322\",\n        \"event\": \"CMD:AUTO\",\n        \"state\": \"IDLE\",\n        \"M1\": 0,\n        \"M2\": 0,\n        \"S1\": 111,\n        \"S2\": 222,\n        \"S3\": 555\n    }\n];\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":520,"wires":[["5a58359b.fc52e4"]]},{"id":"5a58359b.fc52e4","type":"http response","z":"c8a8d859.a8788","name":"","statusCode":"","headers":{},"x":560,"y":520,"wires":[]},{"id":"7332dcdf.572d0c","type":"debug","z":"3056ef6a.b25278","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":160,"wires":[]},{"id":"5d68d2b2.8e9a04","type":"http response","z":"c8a8d859.a8788","name":"","statusCode":"","headers":{},"x":750,"y":460,"wires":[]},{"id":"185268d4.cd0f47","type":"function","z":"b5d13464.2c8","name":"HTTP statusCode","func":"// check if everything is ok, if so:\nmsg.statusCode = 200;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1110,"y":40,"wires":[[]]},{"id":"71aae8f4.e9c518","type":"function","z":"b5d13464.2c8","name":"Initial Values","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nconst parameters = [\"STATE\"];\n\nconst initialParameterValues = [\"IDLE\"];\n\nflow.set(parameters, initialParameterValues);","finalize":"","x":240,"y":40,"wires":[["185268d4.cd0f47"]]},{"id":"31b2d772.d5e748","type":"switch","z":"b5d13464.2c8","name":"Command","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"up","vt":"str"},{"t":"eq","v":"down","vt":"str"},{"t":"eq","v":"stop","vt":"str"},{"t":"eq","v":"left","vt":"str"},{"t":"eq","v":"right","vt":"str"}],"checkall":"false","repair":false,"outputs":5,"x":230,"y":400,"wires":[["410fcaa.e4ae1b4"],["9728694f.dee918"],["ced70fb6.5d109"],["e06b3506.ab8558"],["60a5424e.f17ddc"]]},{"id":"410fcaa.e4ae1b4","type":"switch","z":"b5d13464.2c8","name":"[U] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":460,"y":140,"wires":[["9eceb2ff.fcaff8","5690b2f9.2c7174","4b253905.23888"],["5690b2f9.2c7174","4b253905.23888"],["5690b2f9.2c7174","4b253905.23888","d021f3a.53b091"],["5690b2f9.2c7174","d021f3a.53b091"],["4b253905.23888","d021f3a.53b091"],["ced70fb6.5d109"],["ced70fb6.5d109"],["ced70fb6.5d109"],["ced70fb6.5d109"]]},{"id":"9728694f.dee918","type":"switch","z":"b5d13464.2c8","name":"[D] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":460,"y":280,"wires":[["f767b83a.88bfe","b0ff1329.b01138","6ade80e1.0e2d78"],["f767b83a.88bfe","b0ff1329.b01138","d021f3a.53b091"],["f767b83a.88bfe","b0ff1329.b01138"],["b0ff1329.b01138","82d30391.44b52"],["f767b83a.88bfe","d021f3a.53b091"],["ced70fb6.5d109"],["ced70fb6.5d109"],["ced70fb6.5d109"],["ced70fb6.5d109"]]},{"id":"e06b3506.ab8558","type":"switch","z":"b5d13464.2c8","name":"[L] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":460,"y":520,"wires":[["4b253905.23888","f767b83a.88bfe","3c3bc259.94952e"],["f767b83a.88bfe","63be6af4.8599c4"],["5690b2f9.2c7174","62f22a96.313454"],["f767b83a.88bfe"],[],[],[],[],[]]},{"id":"60a5424e.f17ddc","type":"switch","z":"b5d13464.2c8","name":"[R] State switch","property":"STATE","propertyType":"flow","rules":[{"t":"eq","v":"IDLE","vt":"str"},{"t":"eq","v":"FWD","vt":"str"},{"t":"eq","v":"REV","vt":"str"},{"t":"eq","v":"LT","vt":"str"},{"t":"eq","v":"RT","vt":"str"},{"t":"eq","v":"LP","vt":"str"},{"t":"eq","v":"RP","vt":"str"},{"t":"eq","v":"LTR","vt":"str"},{"t":"eq","v":"RTR","vt":"str"}],"checkall":"false","repair":false,"outputs":9,"x":460,"y":660,"wires":[[],[],[],[],[],[],[],[],[]]},{"id":"5690b2f9.2c7174","type":"change","z":"b5d13464.2c8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":280,"wires":[[]]},{"id":"f767b83a.88bfe","type":"change","z":"b5d13464.2c8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":320,"wires":[[]]},{"id":"505a2810.39be6","type":"change","z":"b5d13464.2c8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":360,"wires":[[]]},{"id":"4b253905.23888","type":"change","z":"b5d13464.2c8","name":"up","rules":[{"t":"set","p":"payload","pt":"msg","to":"up","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":420,"wires":[[]]},{"id":"b0ff1329.b01138","type":"change","z":"b5d13464.2c8","name":"down","rules":[{"t":"set","p":"payload","pt":"msg","to":"down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":460,"wires":[[]]},{"id":"ec02b59e.ccdb38","type":"change","z":"b5d13464.2c8","name":"stop","rules":[{"t":"set","p":"payload","pt":"msg","to":"stop","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1050,"y":500,"wires":[[]]},{"id":"ced70fb6.5d109","type":"function","z":"b5d13464.2c8","name":"All Stop ","func":"flow.set(\"STATE\", \"IDLE\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":400,"wires":[["505a2810.39be6","ec02b59e.ccdb38"]]},{"id":"9eceb2ff.fcaff8","type":"change","z":"b5d13464.2c8","name":"set FWD","rules":[{"t":"set","p":"STATE","pt":"flow","to":"FWD","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":100,"wires":[[]]},{"id":"d021f3a.53b091","type":"switch","z":"b5d13464.2c8","name":" [L] speed ","property":"$parent.motors[0].speed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"$parent.motors[1].speed","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":840,"y":140,"wires":[["3192247e.3b98fc"],["9eceb2ff.fcaff8"]]},{"id":"3192247e.3b98fc","type":"change","z":"b5d13464.2c8","name":"set IDLE","rules":[{"t":"set","p":"STATE","pt":"flow","to":"IDLE","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":140,"wires":[[]]},{"id":"8c3cd488.36555","type":"comment","z":"b5d13464.2c8","name":"LEFT","info":"","x":1190,"y":280,"wires":[]},{"id":"92984077.06904","type":"comment","z":"b5d13464.2c8","name":"RIGHT","info":"","x":1190,"y":500,"wires":[]},{"id":"6ade80e1.0e2d78","type":"change","z":"b5d13464.2c8","name":"set REV","rules":[{"t":"set","p":"STATE","pt":"flow","to":"REV","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":180,"wires":[[]]},{"id":"82d30391.44b52","type":"switch","z":"b5d13464.2c8","name":"[R] speed","property":"$parent.motors[1].speed","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"$parent.motors[0].speed","vt":"flow"}],"checkall":"false","repair":false,"outputs":2,"x":840,"y":180,"wires":[["3192247e.3b98fc"],["9eceb2ff.fcaff8"]]},{"id":"3c3bc259.94952e","type":"change","z":"b5d13464.2c8","name":"set LP","rules":[{"t":"set","p":"STATE","pt":"flow","to":"LP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":600,"wires":[[]]},{"id":"63be6af4.8599c4","type":"change","z":"b5d13464.2c8","name":"set LT","rules":[{"t":"set","p":"STATE","pt":"flow","to":"LT","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":640,"wires":[[]]},{"id":"62f22a96.313454","type":"change","z":"b5d13464.2c8","name":"set LTR","rules":[{"t":"set","p":"STATE","pt":"flow","to":"LTR","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":680,"wires":[[]]},{"id":"e612b8a7.95f8c","type":"subflow:b5d13464.2c8","z":"c8a8d859.a8788","name":"","env":[],"x":420,"y":280,"wires":[["bfd08d0.5ec627"],["1240d76.b4c6329"],["5d68d2b2.8e9a04"]]}]